header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0  auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /* sequencia de margens: topo, direita, baixo, esquerda*/

}

nav a {
    text-transform: uppercase;  /*Deixa tudo em maiúsculo*/
    color: #000000;
    font-weight: bold; /*Coloca o texto em negrito*/
    font-size: 22px;
    text-decoration: none; /*Retira a decoração e sublinhado*/
}

/*comportamento do mouse*/
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
/*-------- Fim ---------*/

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: #CCCCCC; */
    margin: 0 1.5%; /*se usar dois numero, o primeiro representa cima/baixo e o segundo, esquerda/direita*/
    padding: 30px 20px;
    box-sizing: border-box; /*Faz com que o padding nao aumente o tamanho do conteúdo*/
    border: 2px solid #000000;
    border-radius: 10px;
}

/*quando passar o mouse*/
.produtos li:hover {
    border-color: #C78C19;
}

/*quando clicado*/
.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}

.Copyright {
    color: #FFFFFF;
    font-size: 14px;
    margin: 20px 0 0 0;    
}